<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books List</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <ul>
      <li class="active" style="background-color: #936565">
        <a href="./">Home</a>
      </li>
      <li><a href="./books"> Book List</a></li>
      <li><a href="./search_books">Search Book List</a></li>
    </ul>
    <style>
      body {
        background-image: url('https://img.freepik.com/free-photo/open-book-with-white-background_23-2148882765.jpg?w=1380&t=st=1668026090~exp=1668026690~hmac=04781beebca9891d243a79bf82fe8ad8a26e3e76c3c310bd97878cba7d7f0d95');
      }
      </style> 
    <div style="margin-left: 25%; padding: 1px 16px; height: 100%">
      <h1 style="text-align: center"><b>Search Book List</b></h1>
      <form action="/search_books" method="GET">
        <legend>Enter Book Name</legend>
      <input type="text" id="myInput" name="name" value="<%= bookname %>"  placeholder="Search for names..">
      <button type="submit">Submit</button>
    </form>
      <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
      <table class="table table-striped" id="myTable" style="width: 100%">
        <% if(characters.length){%>
        <% characters.forEach(function(character) { %>
          
        
          <tr>
            <td>
              <div class="card" style="width: 18rem; margin: 10px">
                <a
                  href="./book/?id=<%= character._id %>"
                  style="
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                  "
                  ><img src="images/<%= character.image %>" width="200" height="200"
                /></a>
              </div>
            </td>
            <td><%= character.name %><br/>
              <%= character.author_name %>
              
            </td>
          </tr>
          <%  }); %>
          <% } else{ %> No Records Yet  <% } %>
      </table>
    </div>
  </body>
</html>
